# Database
DB_ROOT_PASSWORD=change_this_root_password
DB_NAME=finance_db
DB_USER=finance_user
DB_PASSWORD=change_this_db_password

# JWT
JWT_SECRET=change_this_access_secret_super_long
JWT_REFRESH_SECRET=change_this_refresh_secret_super_long

# Dominio publico (sin https://)
DOMAIN=finance.lechugasweb.com.ar

# Email para Let's Encrypt SSL
LETSENCRYPT_EMAIL=tu@email.com

# Nombre de la red Docker del nginx-proxy (verificar con: docker network ls)
NGINX_PROXY_NETWORK=nginx-proxy
